.nav {
	align-items: center;
	margin-block: 1rem;
	padding-inline: var(--body-padding);
}

.nav__toggle {
	min-width: 18px;
	margin-right: 1rem;
	position: relative;
	z-index: 10;
}

.nav__toggle button {
	border: 0;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
	display: flex;
	justify-content: flex-end;
}

.nav__menu-items {
	gap: 1.8rem;
	padding: 0;
}

.nav__menu-item {
	list-style: none;
}

.nav__cart-and-user {
	align-items: center;
	gap: 1.25rem;
	margin-left: auto;
}

.nav__cart-and-user__button {
	border: 0;
	background-color: transparent;
	cursor: pointer;
}

.nav__cart-group {
	position: relative;
}

.cart-icon:hover {
	filter: brightness(0.25);
}

.cart-number {
	font-size: 0.6rem;
	position: absolute;
	top: -0.3rem;
	right: -0.3rem;
	padding: 0.1em 0.7em;
	border-radius: 100vw;
	background-color: var(--accent);
	color: var(--white);
}

.profile-picture {
	width: 1.5rem;
	border-radius: 100%;
}

@media screen and (width <= 900px) {
	.nav__menu-items {
		background-color: var(--white);
		font-weight: 700;
		font-size: 1.1rem;
		gap: 1.6rem;
		position: absolute;
		z-index: 5;
		top: 0;
		bottom: 0;
		left: 0;
		width: 250px;
		padding-top: 5.75rem;
		padding-left: 1.5rem;
		display: none;
		box-shadow: 0 0 0 100vmax var(--black-transparent-bg);
	}
	.nav__menu-items.is-open {
		display: flex;
		flex-direction: column;
	}
	.nav__cart-group {
		display: flex;
		align-self: flex-end;
	}
}

@media screen and (width > 900px) {
	.nav {
		margin-top: 1.5rem;
		padding-bottom: 2rem;
		border-bottom: 1px solid var(--grayish-blue-200);
	}
	.nav__toggle {
		display: none;
	}
	.nav__menu-items {
		margin-inline-start: 3.5rem;
	}
	.nav__menu-item {
		color: var(--grayish-blue-400);
	}
	.nav__menu-item a {
		position: relative;
	}
	.nav__menu-item:hover {
		color: var(--grayish-blue-900);
	}
	.nav__menu-item a:hover::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -3rem;
		height: 5px;
		width: 100%;
		background-color: var(--accent);
	}

	.nav__cart-and-user {
		gap: 3rem;
	}
	.profile-picture {
		width: 3rem;
		outline: 2px solid transparent;
		transition: outline 200ms;
	}
	.profile-picture:hover {
		outline: 2px solid var(--accent);
	}
}
